<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home - Subreddit Analysis</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Subreddit Sentiment Analysis Report</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" style="background: url('static/images/bg-sentiment-01.webp') no-repeat center" >
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Welcome to Subreddit Sentiment Analysis</h1>
                            <h4 class="mb-5">Enter the name of the subreddit: </h4>
                            <form class="form-subscribe" id="contactForm" method="post">
                                {% block content %}
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" name="user_input" placeholder="subreddit">
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                                </div>
                                </div>
                                <div id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">This may take a while...</div>
                                        <br>
                                        <p>Estimated time:  1-5 min</p>
                                    </div>
                                </div>
                                {% endblock %}   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>How it works?</h3>
                            <p class="lead mb-0">Pulls the current top 100 hot posts from a specified subreddit and analyses its contents!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Preprocessing</h3>
                            <p class="lead mb-0">Cleans the data the text of the pulled data using NLP for it to be usable for analysis</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi bi-bar-chart-line m-auto text-primary"></i></div>
                            <h3>Analysis and Visualization</h3>
                            <p class="lead mb-0">Does different types of analysis on the data and visualizes the subreddits</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Janne Seppälä</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://github.com/jamsep/Subreddit_Sentimental_Analysis"><i class="bi bi-github"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.linkedin.com/in/janne-sepp%C3%A4l%C3%A4-b7a11822b/"><i class="bi bi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>